<div class="row">
  <div *ngIf="(event$ | async) as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(event)">
      <div class="form-group">
        <label for="">Name</label>
        <input name="name" [(ngModel)]="event.name" type="text"
          class="form-control" required pattern=".{8,25}" required>
        <div [hidden]="eventForm?.controls?.name?.valid || eventForm?.controls?.name?.pristine" class="error-message">
          The name of the event must be minimum 8 and maximum 25 characters long.
        </div>
      </div>
      <div class="form-group">
        <label for="">Date</label>
        <input name="date" [(ngModel)]="event.date" type="text" class="form-control"
          required pattern="(([1-9]|1[0-2])\/([1-9]|[12][0-9]|3[01])\/([12]\d{3}))">
        <div [hidden]="eventForm?.controls?.date?.valid || eventForm?.controls?.date?.pristine" class="error-message">
          Date must be in the following format: MM/DD/YYYY.
        </div>
      </div>
      <div class="form-group">
        <label for="">Time</label>
        <input name="time" [(ngModel)]="event.time" type="text" class="form-control" required
          pattern="([0-9]|(1[0-2])):([0-5][0-9]) ([AP]M)">
        <div [hidden]="eventForm?.controls?.time?.valid || eventForm?.controls?.time?.pristine" class="error-message">
          Time must be in the following format: 00:00 AM/PM.
        </div>
      </div>
      <div class="form-group">
        <label for="">Location</label>
        <input name="location" [(ngModel)]="event.location" type="text" class="form-control" required
          pattern=".{5,50}">
        <div [hidden]="eventForm?.controls?.location?.valid || eventForm?.controls?.location?.pristine" class="error-message">
          The location must be minimum 5 and maximum 50 characters long.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
